<h1>Checked In Table</h1>
<nz-table #checkedInTable [nzData]="(checkedInPersons$|async)">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of checkedInTable.data" (click)="updateActivePerson(person.id)"> 
        <ng-container *ngIf="person.id === (activePersonId$ | async)">
          <td><input nz-input (ngModelChange)="nameChange($event)" placeholder="Name" [ngModel]="person.name"/></td>
          <td><input nz-input (ngModelChange)="emailChange($event)" placeholder="Email" [ngModel]="person.email"/></td>
          <td><input nz-input (ngModelChange)="passwordChange($event)" placeholder="Password" [ngModel]="person.password"/></td>
          <td>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(person.id)">Delete</a>
          <nz-divider nzType="vertical"></nz-divider> 
          <a (click)="saveEdit()">Save</a>
          <nz-divider nzType="vertical"></nz-divider>           
          <a (click)="checkPerson(person.id)">Check Out</a> 
          </td>     
          </ng-container>
          <ng-container *ngIf="person.id !== (activePersonId$ | async)">
          <td>{{ person.name }}</td>
          <td>{{ person.email }}</td>
          <td>{{ person.password }}</td>
          <td>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(person.id)">Delete</a>
          <nz-divider nzType="vertical"></nz-divider>          
          <a (click)="checkPerson(person.id)">Check Out</a> 
          </td>
        </ng-container>
    </tr>
  </tbody>
</nz-table>
<h1>Checked Out Table</h1>
<nz-table nzShowPagination #checkedOutTable [nzData]="(checkedOutPersons$|async)">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of checkedOutTable.data" (click)="updateActivePerson(person.id)">
        <ng-container *ngIf="person.id === (activePersonId$ | async)">
          <td><input nz-input (ngModelChange)="nameChange($event)" placeholder="Name" [ngModel]="person.name"/></td>
          <td><input nz-input (ngModelChange)="emailChange($event)" placeholder="Email" [ngModel]="person.email"/></td>
          <td><input nz-input (ngModelChange)="passwordChange($event)" placeholder="Password" [ngModel]="person.password"/></td>
          <td>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(person.id)">Delete</a>   
          <nz-divider nzType="vertical"></nz-divider> 
          <a (click)="saveEdit()">Save</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="checkPerson(person.id)">Check In</a>
          </td>
          </ng-container>
          <ng-container *ngIf="person.id !== (activePersonId$ | async)">
          <td>{{ person.name }}</td>
          <td>{{ person.email }}</td>
          <td>{{ person.password }}</td>
          <td>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(person.id)">Delete</a>
          <nz-divider nzType="vertical"></nz-divider>  
           <a (click)="checkPerson(person.id)">Check In</a>
          </td>
        </ng-container> 
    </tr>
  </tbody>
</nz-table>