
    <div nz-row>
        <div nz-col class="beepTest" >The multi-stage fitness test (MSFT), also known as the beep test, bleep test, PACER (Progressive Aerobic Cardiovascular Endurance Run), 
            PACER test, FitnessGram PACER test, or the 20 m Shuttle Run Test (20 m SRT), is a running test used to estimate an athlete's aerobic capacity (VO2 max).

            The test requires participants to run 20 meters back and forth across a marked track keeping time with beeps. Every minute or so, the next level commences: 
            the time between beeps gets shorter; participants must run faster. If a participant fails to reach the relevant marker in time, they are cautioned. 
            A second caution ends the test for that runner. The number of shuttles completed successfully is recorded as the score of that runner. 
            The score is recorded in Level.Shuttles format (e.g. 9.5).
            
            The test is used by sporting organizations around the world along with schools, the military, and others interested in gauging cardiovascular endurance, 
            an important component of overall physical fitness. The multi-stage fitness test is also part of most health-related fitness test batteries for children and adolescents, 
            such as Eurofit,[1] Alpha-fit,[1] FitnessGram[2][1] and ASSOFTB.[3]
            
            The multi-stage fitness test was first described by Luc Léger[4] with the original 1-minute protocol, which starts at a speed of 8.5 km/h, 
            and increases by 0.5 km/h each minute. Other variations of the test have also been developed, where the protocol starts at a speed of 8.0 km/h 
            and with either 1 or 2-minute stages, but the original protocol is nevertheless recommended.[5] The test appears to encourage maximal effort by children. 
            Additionally, the test's prediction of aerobic capacity is valid for most individuals, including those who are overweight or obese.[6]<br>
            <h1 class="gdpr">PLEASE ACCEPT GDPR, PLS ♥</h1>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="8"> <img class="dancing" src="https://media.tenor.com/hjjG_i4XmcEAAAAd/lizard-dance.gif"></div>     
        <div nz-col nzSpan="8"> <img class="dancing" src="https://media.tenor.com/lm63WPHdZe8AAAAd/gummib%C3%A4r-gummibar.gif"></div>
        <div nz-col nzSpan="8"> <img class="dancing" src="https://media.tenor.com/mAJMFA1Gjj0AAAAd/baby-yoda-baby-yoda-dancing.gif"></div>    
    </div>
   