.dancing{
    border: 8px double #0072ba;
    width: 100%;
    height:50%;
}
.beepTest{
    border: 8px double #ee7f00;
}
.gdpr{
    text-align: center;
    text-shadow: 5px;
    color: #0072ba;
    font-size: xx-large;
    font-family:cursive;
    text-shadow: 2px 2px 25px #0072ba;
}