
<div nz-row>
  <div nz-col nzSpan="2"> 
    <img class="syntronicLogo"
    alt="Syntronic Logo"
    src="https://tida.syntronic.com/images/logo.png"
  />
</div>
  
  <div nz-col nzSpan="18"> 
    <h1 class="syntronicHeader">Syntronic</h1>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-tabset nzType="card">
      <nz-tab nzTitle="Login"><app-login></app-login></nz-tab>
      <nz-tab nzTitle="Admin"><app-admin></app-admin></nz-tab>
      <nz-tab nzTitle="Privacy"><app-privacy></app-privacy></nz-tab>
    </nz-tabset>
  </div>
</div>
   
 


